.Game {
  position: relative;
  display: grid;
  grid-template-columns: 40vw 5vw 40vw;
  align-items: center;
  justify-items: center;
  color: white;
  border-top: 1px solid white;
  border-bottom: 1px solid white;

  transition: all .1s ease-in-out;

  --colour-selected: white;
  --colour-correct: #1C6758;
  --colour-incorrect: #EB1D36;
  --colour-inProgress: #F2C94C;

  &.Selected-home {
    grid-template-columns: 56vw 8vw 8vw;
    background-image: linear-gradient(
      90deg,
      var(--colour-selected), 
      transparent 100%,
    );
    padding-left: 20vw;

    &> .Team:nth-child(2) {
      background: none;
      &> .Team-name {
        // display: none;
        transition: all .1s cubic-bezier(.1,.7,.3,.9);
        font-size: 1em;
      }
      &> .Team-bg {
        width: 80%;
        top: -0.5vw;
        left: 10%;
        opacity: .4;
      }
    }

    &> .Team:nth-child(1) {
      &> .Team-bg {
        position: absolute;
        top: -26vw;
        left: 0%;
        width: 100%;
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        // opacity: .7;
        transition: all .1s ease-in-out;
        cursor: pointer;
      }
    }
  }

  &.Selected-away {
    grid-template-columns: 8vw 8vw 56vw;
    background-image: linear-gradient(
      90deg,
      transparent 0%,
      var(--colour-selected), 
    );

    &> .Team:nth-child(1) {
      background: none;
      &> .Team-name {
        // display: none;
        transition: all .1s cubic-bezier(.1,.7,.3,.9);
        font-size: 1em;
      }
      &> .Team-bg {
        width: 80%;
        top: -0.5vw;
        left: 10%;
        opacity: .4;
      }
    }

    &> .Team:nth-child(2) {
      &> .Team-bg {
        top: -26vw;
        left: 0%;
        width: 100%;
        
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    
        transition: all .1s ease-in-out;
        cursor: pointer;
      }
    }
  }

  &.correct {
    --colour-selected: var(--colour-correct);
  }

  &.incorrect {
    --colour-selected: var(--colour-incorrect);
  }

  &.in-progress {
    --colour-selected: var(--colour-inProgress);
  }
}
