.Header {
  position: sticky;
  height: max-content;
  top: 0;
  background-color: aliceblue;
  z-index: 100;
  padding: 1em;
}

.NavBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: var(--colour-primary-20);
  border-radius: 8px;
}