.LineChart-wrapper {
  padding: 1em;
  background-color: white;
  width: fit-content;
  max-width: 50vw;
  overflow-x: scroll;
}

.LineChart {
  position: relative;
  height: 200px;
  background-color: white;

  border: 1px solid black;
}

.dataPoint {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(253, 253, 253);
  border: rgb(77, 77, 77) 4px solid;
  transition: all .1s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.chartLine {
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: rgb(77, 77, 77);
}