.PieChart {
  position: relative;
  
  width: 200px;
  height: 200px;
  background-color: var(--colour-correct);
  border-radius: 50%;
  overflow: hidden;

  background-image: conic-gradient(

  );
}

.PieChart-title {
  color: white;
}

.PieChart-value {
  color: white;
}