.TeamStreak-wrapper{
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
  background-color: var(--colour-secondary-20);
  border-radius: 8px;

  transition: height 0.2s ease-in;

  &.expanded {
    svg {
      transform: rotate(180deg);
    }
  }
}

.TeamStreak {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr 1fr;
  color: white;
}

.TeamStreak-count {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
}

.TeamStreak-expand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;

  width: 50%;

  transition: height 0.2s ease-in;

  svg {
    width: 1.5em;
    height: 1.5em;
    margin-left: 0.5em;
    color: black;

    transition: transform 0.2s ease-in-out,
                color 0.2s ease-in-out;
  }

  &:hover {
    svg {
      color: white;

      transition: transform 0.2s ease-in-out,
      color 0.2s ease-in-out;
    }
  }
}